In [133]:
import pandas as pd
import numpy as np

In [134]:
# Задание 1. Загрузка данных
#Изучить представленный набор данных на основе описания его столбцов, 
#загрузить его и оставить 8 столбцов для дальнейшего изучения: 
#surgery?, Age, rectal temperature, pulse, respiratory rate, 
#temperature of extremities, pain, outcome.
#https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv
missing_values = ['?']
#df = pd.read_csv('out.csv', na_values = missing_values) #, 
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', na_values = missing_values)
# что имеется в датафрейме?
df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [135]:
#выбираем необходимые 8 столбцов
df1=df.iloc[:, [0,1,3,4,5,6,10,22]]
print(df1)

       2  1  38.50     66    28    3    5  2.2
0    1.0  1   39.2   88.0  20.0  NaN  3.0  3.0
1    2.0  1   38.3   40.0  24.0  1.0  3.0  1.0
2    1.0  9   39.1  164.0  84.0  4.0  2.0  2.0
3    2.0  1   37.3  104.0  35.0  NaN  NaN  2.0
4    2.0  1    NaN    NaN   NaN  2.0  2.0  1.0
..   ... ..    ...    ...   ...  ...  ...  ...
294  1.0  1    NaN  120.0  70.0  4.0  2.0  3.0
295  2.0  1   37.2   72.0  24.0  3.0  4.0  3.0
296  1.0  1   37.5   72.0  30.0  4.0  4.0  2.0
297  1.0  1   36.5  100.0  24.0  3.0  3.0  1.0
298  1.0  1   37.2   40.0  20.0  NaN  NaN  3.0

[299 rows x 8 columns]

In [136]:
# Наименования столбцов
df1.columns =['surgery?', 'Age', 'rectal_temperature', 'pulse','respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']
df1.head()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [137]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [138]:
#Задание 2. Первичное изучение данных
#Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.
#Оценим максимальный пульс и темпиратуру,чтобы понимать есть ли животные которые потенциально могут быть больны или испытывать шок
print(max(df1['pulse']))
print(np.max(df1['pulse']))
print(df1['pulse'].max())

print(max(df1['rectal_temperature']))
print(np.max(df1['rectal_temperature']))
print(df1['rectal_temperature'].max())

#полученный результат (темпиратура выше нормальной = 37,8 и высокий пульс) в части темпиратуры и пульса позволяет сделать вывод о том,что имеются лошади, которые могут быть больны или испытывать шок

184.0
184.0
184.0
40.8
40.8
40.8

In [139]:
#Оценим минимальный  пульс и темпиратуру, чтобы понимать есть ли животные которые потенциально могут быть больны или испытывать шок
print(min(df1['pulse']))
print(np.min(df1['pulse']))
print(df1['pulse'].min())

print(min(df1['rectal_temperature']))
print(np.min(df1['rectal_temperature']))
print(df1['rectal_temperature'].min())

30.0
30.0
30.0
35.4
35.4
35.4

In [140]:
# размах – разница между минимальным и максимальным значением пульса
pulse_range = df1['pulse'].max() - df1['pulse'].min()
print(pulse_range)

154.0

# Среднеарифметическое

In [141]:
# средний пульс 
sum(df1['pulse']) / len(df1['pulse'])

nan

In [142]:
print(np.mean(df1['pulse']))
print(df1['pulse'].mean())

71.93454545454546
71.93454545454546

# Мода

In [143]:
# Оценить что чаще всего произошло с лошадьми (какой параметр чаще встречается в поле Результат )  
# Создаём пустой словарь, в котором будем считать количество появлений значений 
outcome_counts = {}
for w in df1['outcome'].round():
    if w not in outcome_counts:
        outcome_counts[w] = 1
    else:
        outcome_counts[w] += 1

# Проходимся по словарю и ищем максимальное количество повторений
# Алгоритм поиска максимума
maxout = 0
mode_outcome = None
for k, v in outcome_counts.items():
    if maxout < v:
        maxout = v
        mode_outcome = k
print('Значение моды:', mode_outcome, 'количество встречаемости:', maxout)

Значение моды: 1.0 количество встречаемости: 178

In [144]:
print('Значение моды: ', df1['outcome'].round().mode()[0])
# таким образом,можно говорить о том,что чаще всего встречаются признак прожившей лошади, следовательно большинство не были подвержены эвтаназии или умерли

Значение моды:  1.0

# Медиана

In [145]:
# Оценка темпиратуры 
rt = df1['rectal_temperature']

# Находим  количество значений
num_rt = len(df1['rectal_temperature'])

# Сортируем в порядке возрастания
sorted_rt = sorted(rt)

# Ищем индекс среднего элемента
# если количество элементов четное, то берем среднее двух элементов в середине
middle = (num_rt // 2)
if num_rt % 2 == 0:
    result = (sorted_rt[middle-1] + sorted_rt[middle])/2
else:
    result = sorted_rt[middle]
# Находим медиану
print('Медиана: ', result)

Медиана:  38.9

# СКО

In [146]:
# ручной подсчет
def stdev(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums) / len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg) ** (2)
    # считаем корень среднеквадратичного значения
    return (diffs / (len(nums) - 1)) ** (0.5)

stdev(df1['pulse'])

nan

In [147]:
print('Пульс')
print(df1['pulse'].std())
print(np.std(df1['pulse'], ddof=1)) # дельта степеней свободы в numpy по-умолчанию 0

#print('Вес')
#print(df['Weight'].std())
#print(np.std(df['Weight'], ddof=1))

Пульс
28.68052200365475
28.68052200365475

# Дисперсия

In [148]:
# ручной подсчет
def disp(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums)/len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg)**(2)
    # считаем среднеквадратичного значения
    return diffs/(len(nums)-1)

print(disp(df1.pulse))
print(disp(df1.rectal_temperature))

nan
nan

In [149]:
print('Пульс')
print(np.var(df1['pulse'], ddof=1))
print(df1['pulse'].var())

print('Темпиратура')
print(np.var(df1['rectal_temperature'], ddof=1))
print(df1['rectal_temperature'].var())

Пульс
822.5723424021243
822.5723424021243
Темпиратура
0.5380345276185787
0.5380345276185787

# Квантили

In [150]:
# это же медиана!
df1['pulse'].quantile()

64.0

In [151]:
# первый и третий квартили
df1['pulse'].quantile([0.25, 0.75])

0.25    48.0
0.75    88.0
Name: pulse, dtype: float64

In [152]:
# произвольный перцентиль
df1['pulse'].quantile(0.33)

52.0

In [153]:
# межквартильный размах
Q1 = df1['pulse'].quantile(0.25)
Q3 = df1['pulse'].quantile(0.75)
IQR = Q3 - Q1
IQR

40.0

# Describe

In [154]:
df1.describe()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

# Выбросы

In [155]:
# произвольные выбросы значений по пульсу и темпиратуре 
print('Пульс')
print(df1['pulse'].mean())
print(df1[(df1['pulse'] > 30) & (df1['pulse'] <=154)]['pulse'].mean())

print('Темпиратура')
print(df1['rectal_temperature'].mean())
print(df1[(df1['rectal_temperature'] >= 37.8) & (df1['rectal_temperature'] < 50)]['rectal_temperature'].mean())

Пульс
71.93454545454546
71.16296296296296
Темпиратура
38.166527196652744
38.44699453551913

In [156]:
# медиана
print(df1['pulse'].median())
print(df1[(df1['pulse'] > 30) & (df1['pulse'] <= 154)]['pulse'].median())

64.0
64.0

In [157]:
# мода
print(df1['pulse'].round().mode()[0])
print(df1[(df1['pulse'] > 30) & (df1['pulse'] <= 154)]['pulse'].round().mode()[0])

48.0
48.0

In [158]:
#Выбросы через межквартильный размах (по пульсу) 
#какой получили выброс
pd.concat([df1, remove_outliers]).drop_duplicates(keep=False)

NameError: name 'remove_outliers' is not defined

In [159]:
print(remove_outliers['pulse'].mean())
print(remove_outliers['pulse'].median())

NameError: name 'remove_outliers' is not defined

In [160]:
print(df1['pulse'].mean() - remove_outliers['pulse'].mean())

NameError: name 'remove_outliers' is not defined

In [161]:
print(df1['pulse'].median() - remove_outliers['pulse'].median())

NameError: name 'remove_outliers' is not defined

# Пропуски

In [162]:
#Задание 3. Работа с пропусками
#Рассчитать количество пропусков для всех выбранных столбцов. 
#Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик
#и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

# С новым набором столбцов (8 штук ) DataFrame df1  
print(df1)

     surgery?  Age  rectal_temperature  pulse  respiratory_rate  \
0         1.0    1                39.2   88.0              20.0
1         2.0    1                38.3   40.0              24.0
2         1.0    9                39.1  164.0              84.0
3         2.0    1                37.3  104.0              35.0
4         2.0    1                 NaN    NaN               NaN
..        ...  ...                 ...    ...               ...
294       1.0    1                 NaN  120.0              70.0
295       2.0    1                37.2   72.0              24.0
296       1.0    1                37.5   72.0              30.0
297       1.0    1                36.5  100.0              24.0
298       1.0    1                37.2   40.0              20.0

     temperature_of_extremities  pain  outcome
0                           NaN   3.0      3.0
1                           1.0   3.0      1.0
2                           4.0   2.0      2.0
3                           NaN   NaN      2.0
4                           2.0   2.0      1.0
..                          ...   ...      ...
294                         4.0   2.0      3.0
295                         3.0   4.0      3.0
296                         4.0   4.0      2.0
297                         3.0   3.0      1.0
298                         NaN   NaN      3.0

[299 rows x 8 columns]

In [163]:
df1.info()
# пустых нет, но естьпропуски данных, заполненные символом 'NaN'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [164]:
(df1.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

## Игнорирование пропусков

In [165]:
# все методы pandas по-умолчанию не берут в расчет пропуски, расчет статистик 
print(df1.Age.mean())
print(df1.Age.median())
print(df1.Age.mode()[0])

print(df1.Age.std())
print(df1.Age.var())

1.6421404682274248
1.0
1
2.1772997793587714
4.740634329195755

## Удаление строк с пропусками

In [166]:
# пропуски встречаются во всех столбцах кроме Age(Возраста) удалим пропуски
# при этом количество записей стало значительно меньше
# так как в качестве незначимого символа используется "NaN" и судя по описанию значение 0 не испольуется в полях.

df1.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 1 to 297
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    153 non-null    float64
 1   Age                         153 non-null    int64
 2   rectal_temperature          153 non-null    float64
 3   pulse                       153 non-null    float64
 4   respiratory_rate            153 non-null    float64
 5   temperature_of_extremities  153 non-null    float64
 6   pain                        153 non-null    float64
 7   outcome                     153 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 10.8 KB

In [167]:
# посмотрим на сколько исказились статистики, если удалить все строки с пропусками
print(df1.dropna()['Age'].mean())
print(df1.dropna()['Age'].median())
print(df1.dropna()['Age'].mode()[0])

print(df1.dropna()['Age'].std())
print(df1.dropna()['Age'].var())

1.6274509803921569
1.0
1
2.157856980716289
4.656346749226018

In [168]:
#Дата фрейм с удаленными пропусками
df2=df1.dropna()
df2.head()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0


# Заполнение пропусков

In [169]:
# Столбец surgery
#Если значение поля Pain = 4 или =5,т.е боль сильная,
#то скороее всего такому животному сделали операцию,то в поле surgery проставляем 1.
df1['pain'].unique()

array([ 3.,  2., nan,  4.,  5.,  1.])

In [170]:
# условие 
df1[((df1['pain']==4) | (df1['pain']==5)) & df1['surgery?'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
131,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [171]:
#замена
df['surgery?'] = np.where(((df1['pain']==4) | (df1['pain']==5)) & df1['surgery?'].isnull(),'1.0', df1['surgery?'] )

In [172]:
#Заполнение пропусков в столбце temperature_of_extremities
#Если значение поля  temperature_of_extremities = 2, т.е конечности теплые,
#то rectal temperature(ректальная температура) высокая и 
#можно заполнить максимальным значением.
df1[ (df1['temperature_of_extremities']==2 ) & (df1['rectal_temperature'].isnull())]

#df.loc[df.Color == 'Green']
#df.loc[(df['First Season'] > 1990)] = 1

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
56,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
111,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
190,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0

In [173]:
#замена
df['rectal_temperature'] = np.where( (df1['temperature_of_extremities']==2 ) & (df1['rectal_temperature'].isnull()), df1['rectal_temperature'].mean(), df1['surgery?'] )

In [174]:
# замена в столбце age значений 
df1['Age'].unique()

array([1, 9], dtype=int64)

In [175]:
# заменим 9 на 2,что  соотвествует взрослой лошади
print(df1['Age'].replace([9], 2))

0      1
1      1
2      2
3      1
4      1
      ..
294    1
295    1
296    1
297    1
298    1
Name: Age, Length: 299, dtype: int64

In [176]:
surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64  
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome

SyntaxError: invalid syntax (<ipython-input-176-3d42fe7dc7cb>, line 1)

In [177]:
df1['pulse'].unique()

array([ 88.,  40., 164., 104.,  nan,  48.,  60.,  80.,  90.,  66.,  72.,
        42.,  92.,  76.,  96., 128.,  64., 110., 130., 108., 100., 112.,
        52., 146., 150., 120., 140.,  84.,  46., 114., 160.,  54.,  56.,
        38.,  98.,  50.,  44.,  70.,  78.,  49.,  30., 136., 132.,  65.,
        86., 129.,  68.,  36.,  45., 124., 184.,  75.,  82.])

In [178]:
#Заполнение пропусков в столбце pulse
# У животных с болезненными поражениями или страдающих от шока кровообращения
# может быть повышенная частота сердечных сокращений
#При этом, когда животное находится в состоянии позднего шока, температура может быть снижена.
#Следовательно можно заполнить максимальным значением в столбеце pulse пустые ячейки,где значение
#rectal_temperature имеет минимальное значение.
df1['rectal_temperature'].min()

35.4

In [179]:
df1['pulse'].max()

184.0

In [180]:
df1[ (df1['pain']>3) & (df1['pulse'].isnull())]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
77,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
82,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
135,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
181,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0

In [181]:
df1['pulse'] = np.where(df1['pain']>3 & df1['pulse'].isnull(), df1['pulse'].max(), df1['pulse'])

<ipython-input-181-b5eca3cef32f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['pulse'] = np.where(df1['pain']>3 & df1['pulse'].isnull(), df1['pulse'].max(), df1['pulse'])